/* helpers
*******************************************************************/

@for $i from 5 through 35 {
    $j: $i * 2;
    .font-#{$j} {
        font-size: #{$j}px !important;
    }
}

.app-bg-color-1 {
    background-color: $app-color-1 !important;
}
.app-bg-color-2 {
    background-color: $app-color-2 !important;
}
.app-bg-color-3 {
    background-color: $app-color-3 !important;
}

.app-color-1 {
    color: $app-color-1 !important;
}
.app-color-2 {
    color: $app-color-2 !important;
}
.app-color-3 {
    color: $app-color-3 !important;
}

.white {
    color: $white;
}

.black {
    color: $black;
}

$grays: $gray-100, $gray-200, $gray-300, $gray-400, $gray-500, $gray-600, $gray-700, $gray-800, $gray-900;

@for $i from 1 through length($grays) {
    .gray-#{$i * 100} {
        color: nth($grays, $i) !important;
    }
    .bg-gray-#{$i * 100} {
        background-color: nth($grays, $i) !important;;
    }
}

.no-wrap {
    white-space: nowrap;
}

.row.gutter-xs {
    margin-left: -5px;
    margin-right: -5px;
}

.row.gutter-xs > [class^="col-"],
.row.gutter-xs > [class^=" col-"] {
    padding-left: 5px;
    padding-right: 5px;
}

.row.gutter-sm {
    margin-left: -10px;
    margin-right: -10px;
}

.row.gutter-sm > [class^="col-"],
.row.gutter-sm > [class^=" col-"] {
    padding-left: 10px;
    padding-right: 10px;
}

.pointer {
    cursor: pointer;
}

@include media-breakpoint-up(xl) {
    .col-xl-5_3 {
        flex: 0 0 60%;
        max-width: 60%;
    }
    .col-xl-5_2 {
        flex: 0 0 40%;
        max-width: 40%;
    }
    .col-xl-360 {
        flex: 0 0 360px;
        min-width: 360px;
    }
}

@include media-breakpoint-up(lg) {
    .col-lg-5_3 {
        flex: 0 0 60%;
        max-width: 60%;
    }
    .col-lg-5_2 {
        flex: 0 0 40%;
        max-width: 40%;
    }
    .col-lg-360 {
        flex: 0 0 360px;
        min-width: 360px;
    }
    .t-lg-100 {
        top: 100px !important;
    }
}

@include media-breakpoint-up(md) {
    .col-md-5_3 {
        flex: 0 0 60%;
        max-width: 60%;
    }
    .col-md-5_2 {
        flex: 0 0 40%;
        max-width: 40%;
    }
    .col-md-360 {
        flex: 0 0 360px;
        min-width: 360px;
    }
}

.col-md-360,
.col-lg-360,
.col-xl-360,
.col-md-5_3,
.col-lg-5_3,
.col-xl-5_3,
.col-md-5_2,
.col-lg-5_2,
.col-xl-5_2 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
