/* back to top
*******************************************************************/

#back-to-top {
  border: 1px solid $app-color-1;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 50px;
  color: $app-color-1;
  background-size: auto 200%;
  background-image: linear-gradient(to bottom, $white 0%, $white 50%, $app-color-1 50%, $app-color-1 100%);
  @include transition( all .1s ease-in, background .4s cubic-bezier(0.68, 0, 0.265, 1) .01s );
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &:hover,
  &:focus {
    background-position: center bottom;
    color: $white;
  }

  &::after {
    content: "\e903";
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display: inline-block;
    vertical-align: middle;

    font-size: 28px;
  }
}
